.contactRow {
	padding: 15px 0;
	margin: 15px 0;
}

.contactRow + .contactRow {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.contactRow__name {
	margin-top: 10px;
}

.contactRow__seeMoreLink {
	font-size: 1rem;
	font-weight: normal;
	margin-left: 10px;
}